body {
    box-sizing: content-box;
    font-family: 'DejaVu Sans', 'Vazir', sans-serif;
    background-color: #060606;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 12px;
    background-color: gray;
    border-bottom: 2px solid #FFFFFF;
    height: 59px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


.auth {
    display: flex;
    gap: 12px;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
}


a, .btn {
    text-decoration: none;
    background-color:rgba(30,64,175);
    color: #D1D5DB;
    padding: 9px;
    cursor: pointer;
    font-size: medium;
    border-radius: 6px;
}

a:hover, .btn:hover {
    background-color: #D1D5DB;
    color: #111827;
    border: 3px solid #F16366;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

a:focus, .btn:focus {
    border: 4px solid #F16366;
}

a:active, .btn:active {
    background-color: #1E40AF;
    color: #FFFFFF;
}


.login-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 32px;
}

.form-div {
    display: flex;
    padding: 26px;
    gap: 16px;
}

button[type="submit"] {
    background-color: #1E40AF;
    width: 100%;
    margin-top: 39px;
}

input {
    padding: 13px;
}

h2   {
    text-align: center;
    margin-top: 70px;
}